.git
.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/.env
**/.env.*
agrobot-assistant/backend/Dataset
agrobot-assistant/backend/.venv
agrobot-assistant/frontend/build
agrobot-assistant/frontend/.cache
